{% extends 'post/base.html' %}
{% block title %}Страница выхода{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="flex justify-center align-center mt-3">
    <div class="card w-1/4 shadow-xl">
        <div class="card-body">
            <div class="card-body">
                <h4>Выход</h4>
                <hr>
                <div class="alert alert-info">
                    Вы покинули страницу
                </div>
                <a href="{% url 'users-login' %}">Войти</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}