{% extends 'post/base.html' %}
{% block title %}Страница сброса пароля{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="fon">
    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-md-8 offset-md-2">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <h4>Страница сброса пароля</h4>
                        <hr>
                        <div class="alert alert-info">
                            На указанный вами адрес электронной почты отправлено письмо с инструкциями по сбросу пароля.
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}