{% extends 'post/base.html' %}
{% block title %}Страница завершения сброса пароля{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="fon">
    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-md-8 offset-md-2">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <h4>Страница завершения сброса пароля</h4>
                        <hr>
                        <div class="alert alert-info">
                            Ваш сброс пароля выполнен успешно. Войти с новыми учетными данными
                        </div>
                        <a href="{% url 'users-login' %}">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}